.roboMono{
    font-family: 'Roboto Mono';
}
.font-md{
    font-size: 1rem;
}
.box-size-cancel{
    box-sizing: unset;
}
.wordSpacing{
    letter-spacing: .3rem;
}
.table{
    td{
        padding: 0.75rem 1rem 0.75rem 1rem !important;
    }
}